<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <section class="container text-center mt-3 p-3 bg-success">
        <h1 class="card-header text-white">Thanks! Your order has been recieved</h1> <br>
        <h4 class="text-white">We will deliver it as soon as possible.</h4> <br>
        <button class=" m-2 btn btn-warning col-2"><a class="text-white" href="/cart">Back to Cart</a></button>
    </section>
</body>
</html>